body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.auth-background {
  /* 1. Background image (public folder se)
     2. Dark overlay (rgba(0, 0, 0, 0.5)) taaki text saaf dikhe */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/iit-jammu-bg.jpg');
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Image ko scroll nahi hone dega */
  background-repeat: no-repeat;
  
  /* Pages ke beech smooth transition */
  transition: background-image 0.3s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
